.menu
    padding: 20px
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    width: 100%
    z-index: 10
    display: flex
    background: $next-color
    transition: 0.5s top
    height: 61px
    &__item
        margin: 0 30px
        flex-basis: 0px
        //text
        text-align: center
        font-size: 1.3em
        font-weight: 300
        a
            color: rgb(0, 0, 0)
            transition: 0.3s ease-out
            &:hover
                color: #f3f2f2
                transition: 0.4s ease
                text-shadow: 0 0 1px #ffffff
                text-shadow: 0 0 2px #fffdfdea
                text-shadow: 0 0 5px #ecf9ff


.menu__wrapper
    display: flex
    transition: 0.5s all
    z-index: 10

.hamburger
    padding: 10px
    width: 50px
    height: 40px
    display: none
    flex-direction: column
    justify-content: space-between
    z-index: 10
    transition: 0.5s all
    span
        height: 2px
        width: 100%
        background: #000000
        transition: 0.5s all
    &__active
        margin-top: 10px
        transition: 0.5s margin
        span
            background: #ffffff
            &:nth-child(1)
                transform: translateY(12px) rotate(45deg)
            &:nth-child(3)
                transform: translateY(-6px) rotate(-45deg)
            &:nth-child(2)
                opacity: 0
    