@font-face {
    font-family: 'IBM Plex Serif';
    src: local('../fonts/IBMPlexSerif-Thin'),
        url('../fonts/IBMPlexSerif-Thin.woff2') format('woff2'),
        url('../fonts/IBMPlexSerif-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: local('../fonts/IBMPlexSerif-ExtraLight'),
        url('../fonts/IBMPlexSerif-ExtraLight.woff2') format('woff2'),
        url('../fonts/IBMPlexSerif-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: local('../fonts/IBMPlexSerif-Light'),
    url('../fonts/IBMPlexSerif-Light.woff2') format('woff2'),
    url('../fonts/IBMPlexSerif-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}